i. Perkenalan

    Nama : Fatkhurizqi Rakhmansyah
    Batch : 012
    Course : Full Time Data Science

Dataset ini memiliki 721 nama pokemon, di dalamnya terdapat nama, type 1 dan type 2, stat dasar seperti hp, attack, defense, special attack, special defense dan kecepatan

Setelah mengerjakan Tugas ini diharapkan dapat memuat data dengan pandas, mampu menangani missing values pada dataset, mampu melakukan manipulasi kolom, dapat membuat query terhadap dataset, mampu melakukan grouping tehadap dataset, mampu melakukan visualisasi sederhana menggunakan Pandas

ii. Import pustaka yang dibutuhkan

In [40]:
## melakukan pemanggilan library
import pandas as pd
import numpy as np

iii. Data Loading

In [41]:
## Proses pemanggilan dataset
pd.read_csv('Pokemon.csv')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [42]:
## Proses pemanggilan dataset menggunakan variabel df
df = pd.read_csv('Pokemon.csv')

In [43]:
## Mencari infromasi dari dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [44]:
## melihat isi dataset 8 teratas secara default
df.head(8)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False

In [45]:
## untuk melihat banyaknya baris dan kolom dataset
df.shape

(800, 13)

iv. Data Cleaning

In [46]:
## melihat isi kolom ada null atau tidak
df.isnull().any()

#             False
Name          False
Type 1        False
Type 2         True
Total         False
HP            False
Attack        False
Defense       False
Sp. Atk       False
Sp. Def       False
Speed         False
Generation    False
Legendary     False
dtype: bool

    Setelah ditelusuri Ternyata di kolom Type 2 Terdapat null atau NaN atau N/A
    Proses Selanjut nya adalah penghapusan kolom Type 2 untuk menangani null atau missing values

In [47]:
## menghapus kolom type 2
df.drop(labels=['Type 2'], axis=1, inplace=True)

drop metode yang digunakan untuk menghapus suatu kolom atau baris, labels untuk menentukan index atau kolom yang ingin di hapus, axis = 1 menghapus per kolom, inplace=True untuk menyimpan tabel setelah proses penghapusan

In [48]:
## pengecekan tabel, apakah type 2 telah hilang atau tidak
df

,#,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,600,80,110,120,130,90,70,6,True

Dari tabel diatas dapat terlihat bahwa type 2 telah hilang dari tabel

In [49]:
## mengganti nama kolom
df.rename(columns={'Generation' : 'Gen', 'Attack' : 'Atk', 'Defense' : 'Def', 'Type 1' : 'Type'}, inplace=True)

Metode penggantian nama kolom , menggunakan rename, dan kolom yang akan diganti ialah Generation menjadi Gen, Attack menjadi Atk, Defense menjadi Def dan Type 1 menjadi Type, inplace = True untuk menyimpan tabel setelah pergantian nama

In [50]:
df

,#,Name,Type,Total,HP,Atk,Def,Sp. Atk,Sp. Def,Speed,Gen,Legendary
0,1,Bulbasaur,Grass,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,600,80,110,120,130,90,70,6,True

Proses Pergantian nama Berhasil, Generation menjadi Gen, Attack menjadi Atk, Defense menjadi Def, Serta Type 1 menjadi Type

v. Explorasi Data

In [51]:
## Proses query
df[(df['Def'] > 68) & # mengambil data pokemon yang memiliki def lebih besar dari 68
     (df['Type'] == 'Grass') & # mengambil data pokemon bertype Grass
     (df['Speed'] > 70) & # mengambil data pokemon yang mempunya kecepatan lebih dari 70
     (df['Sp. Atk'] >= 65)].sort_values(by='Sp. Atk', ascending = True) # sp. atk lebih besar sama dengan 65

,#,Name,Type,Total,HP,Atk,Def,Sp. Atk,Sp. Def,Speed,Gen,Legendary
556,497,Serperior,Grass,528,75,75,95,75,95,113,5,False
607,547,Whimsicott,Grass,480,60,67,85,77,75,116,5,False
168,154,Meganium,Grass,525,80,82,100,83,100,80,2,False
468,421,Cherrim,Grass,450,70,60,70,87,78,85,4,False
701,640,Virizion,Grass,580,91,90,72,90,129,108,5,True
2,3,Venusaur,Grass,525,80,82,83,100,100,80,1,False
550,492,ShayminLand Forme,Grass,600,100,100,100,100,100,100,4,True
609,549,Lilligant,Grass,480,70,60,75,110,75,90,5,False
551,492,ShayminSky Forme,Grass,600,100,103,75,120,75,127,4,True
3,3,VenusaurMega Venusaur,Grass,625,80,100,123,122,120,80,1,False
275,254,SceptileMega Sceptile,Grass,630,70,110,75,145,85,145,3,False

Tabel diatas merupakan hasil dari pencarian pokemon yang memiliki Def lebih besar dari 68, ber type Grass, Mempunyai Speed atau Kecepatan lebih besar dari 70, Dan Special Attack lebih besar sama dengan 65, setelah data ditemukan diurutkan berdasarkan Special Attack dari nilai terkecil hingga terbesar